header div.hero {
  background-image: url("../imgs/i_peque.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  
  text-align:center;

}
header div.hero div{
   min-height: 50vh;
}
.title{
  font-family: 'Roboto';
  color: white;
  font-size:2rem;
  text-shadow: 1px 1px rgb(243, 243, 241);
}

label.mb-3{
  font-style: normal;
  text-shadow: 1px 1px rgb(243, 243, 241);
}

.card img{
  width:100%;
}

form {
  font-size:1rem !important;
}
@media (min-width: 768px) {
        header div.hero {
            background-image: url("../imgs/i_mediana.jpg");
            min-height: 80vh;
        }


        form{
          font-size:2rem !important;
        }
        .title{
          font-size:6rem;
          text-shadow: 3px 3px 3px rgb(255, 255, 255);
          width:100%;
          
        }
      }

@media (min-width: 992px) {
        header div.hero {
            background-image: url("../imgs/i_grande.jpg");
        }
         .title{
          max-width:1024px;
          margin:1em auto;
          
        }
      }
